@font-face {
  font-family: "iconfont"; /* Project id 2767748 */
  src: url('iconfont.woff2?t=1645405951423') format('woff2'),
       url('iconfont.woff?t=1645405951423') format('woff'),
       url('iconfont.ttf?t=1645405951423') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-emoji:before {
  content: "\e67b";
}

.icon-image:before {
  content: "\e600";
}

.icon-views:before {
  content: "\e666";
}

.icon-collect:before {
  content: "\e60d";
}

.icon-like:before {
  content: "\e621";
}

.icon-heart:before {
  content: "\e622";
}

.icon-close:before {
  content: "\e6c9";
}

.icon-up:before {
  content: "\e667";
}

.icon-operate:before {
  content: "\e60a";
}

